<!-- Define author's picture -->
<% var authorPicture = null; %>
<% if (!theme.header.right_link.icon) { %>
    <% if (theme.gravatar_email && theme.gravatar_email.length) { %>
        <% authorPicture = gravatar(theme.gravatar_email, 90); %>
    <% } else if (theme.author.picture && theme.author.picture.length) { %>
        <% if (is_remote_url(theme.author.picture)) { %>
            <% authorPicture = theme.author.picture; %>
        <% } else { %>
            <% authorPicture = url_for(theme.image_dir + '/' + theme.author.picture); %>
        <% } %>
    <% } %>
<% } %>
<header id="header" data-behavior="<%= sidebarBehavior %>">
    <i id="btn-open-sidebar" class="fa fa-lg fa-bars"></i>
    <h1 class="header-title">
        <a class="header-title-link" href="<%- url_for(' ') %>"><%= config.title %></a>
    </h1>
    <% if (theme.header && theme.header.right_link) { %>
        <div id="search-custom">
            <div class="search-custom__form-group">
                <i class="fa fa-search search-custom__search-button" aria-hidden="true"></i>
                <input type="text" class="search-custom__form-control hidden" placeholder="Search">
            </div>
            <div class="search-custom__result"></div>
        </div>
    <% } %>
</header>
